<% include partials/headerLayout %>
	<a href='/events'>View/Edit All Events!</a><br>
	<a href='/events/new'>Add a New Event!</a><br>
	<div id='calendar'></div>
    <a href="/logout">Logout</a>

<% include partials/footer %>