<% include partials/headerLayout %>
	<a href='/events/new'>Add a New Event!</a>
	<a href='/events/index'>View/Edit All Events!</a><br>s
	<a href='/events'>Add a new event!</a><br>
	<div id='calendar'></div>
    <a href="/logout">Logout</a>

<% include partials/footer %>