<% include partials/headerLayout %>
  <div class='container'>
    <a href="/auth/meetup">Login with Meetup</a><br>
  	<a href='/auth/google'>Login with Eventbrite</a><br>
	<a href='/events'>View/Edit All Events!</a><br>
	<a href='/events/new'>Add a New Event!</a><br>
	<div id='calendar'></div>
    <a href="/logout">Logout</a>
  </div>
<% include partials/footer %>