/*.label:before{
     content:"*" ;
     color:red   
     }*/


*{
	font-family: 'Vidaloka', serif;
}

body { 
    background: url(./images/witewall_3_@2X.png) repeat 0 0;
    background-size:cover;
}


a{
  color:#1c94c4;
}

#container {
  width: 500px;
}

.star {
  color:red;
}

table { 
    background-color: #ffffff;
}