#white {
  color:#ffffff;
  font-family: 'IM Fell Double Pica', serif;
}

#eventger {
  font-size: 75px;
}

.label:before{
     content:"*" ;
     color:red   
     }


.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

* {
	font-family: 'Vidaloka', serif;
  /*font-family: 'IM Fell Double Pica', serif;*/

}

body { 
    background: url(./images/people-apple-iphone-writing.jpg) repeat 0 0;
    background-size:cover;
}


a {
  color:#1c94c4;
  font-size: 20px;
}

.larger {
  font-size: 30px;
}

.gold {
  background-color:#f6a828;
  font-size:20px;
}

#container {
  width: 500px;
}

