<% include ../partials/headerUser %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Eventger</h1>
        <p>A simple website that aggregates your RSVP'ed events from Meetup.com and Eventbrite.com</p>
        <a class='larger' href="/signup">Signup</a>
    	<br>
    	<a class='larger' href="/login">Login</a>
      </div>
    </div>


<% include ../partials/footer %>